Value Filldown Port  (\d+/\d+)
Value List RxName   (\w+.*\w+)
Value List RxValue   (\d+|(n/a))
Value List TxName   (\w+.*\w+)
Value List TxValue   (\d+|(n/a))

Start
  ^Counters for port ${Port}:
  ^RX ${RxName} \s+ ${RxValue} \| TX ${TxName} \s+ ${TxValue} -> Record
  ^RX ${RxName} \s+ ${RxValue} \| -> Record