Value Port (\d+/\d+)
Value RxCurrent (\d+)
Value TxCurrent (\d+)
Value RxFiveMin (\d+)
Value TxFiveMin (\d+)
Value RxFifteenMin (\d+)
Value TxFifteenMin (\d+)


Start
  ^\s${Port} .+ \s+ ${RxCurrent} \s+ ${TxCurrent} \s+ ${RxFiveMin} \s+ ${TxFiveMin} \s+ ${RxFifteenMin} \s+ ${TxFifteenMin} -> Record
